<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441483337543-vlcqrg96haecva50662ev69qlnnfpqfm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441483337543-vlcqrg96haecva50662ev69qlnnfpqfm</string>
	<key>API_KEY</key>
	<string>AIzaSyA4D4KffGKCo6kTaXc2XGt8TAazrRhBRZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>441483337543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tomplucinski.CanvasCollectAdmin</string>
	<key>PROJECT_ID</key>
	<string>canvascollect-8b6a7</string>
	<key>STORAGE_BUCKET</key>
	<string>canvascollect-8b6a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441483337543:ios:2d8b67bfa52d490be8f662</string>
	<key>DATABASE_URL</key>
	<string>https://canvascollect-8b6a7.firebaseio.com</string>
</dict>
</plist>